h1,h2,h3,p,ul,a{
	color: #594157;
	text-decoration: none;
	font-style: times;
}
h1{
	font-size: 400%;
}
h2{
	font-size: 32px;
	display: inline-block;
	margin: 0%;
}
p{
	line-height: 150%;
}
ul{
	list-style-type: circle;
	text-align: left;
}


body{
	background:linear-gradient(to bottom right, #529329 0%,#594157);
	text-align: center;
}
header{
	align-self: center;
	text-align: center;
	border-radius: 5%;
	width: auto;
}
main{
	margin: 5%;
	border-radius: 10%;
	text-align: center;
}
footer{
	text-align: center;
	width:auto;
}

header, main{
	background-color: #05668D;
}
body, header, main{
	font-family: "Times New Roman", Times, serif;
}
section,footer{
	border-style: double;
	border-radius: 25px;
	width: 30%;
	margin: 1%;
	display: inline-grid;
	vertical-align: middle;
}

#Nametag{
	height: 300px;
	margin: 0%;
}
#currentpage{
	background-color: #26C485;
}
#Pagetabs{
	display: block;
	margin: 1%;
}

#Aboutmain{
	width: 90%;
}
#Pagetabs, section, footer{
	background-color: #A3E7FC;
}
/*
color scheme
 #529329
 #05668D
 #A3E7FC
 #26C485
 #594157
 */
