h1{
	font-size: 400%;
	color: #F3F4EC;
}
h2{
	font-size: 32px;
	display: inline-block;
	margin: 0%;
	color: #F3F4EC;
}
p{
	line-height: 150%;
	color: #F3F4EC;
}
ul{
	list-style-type: circle;
	text-align: left;
	color: #F3F4EC;
}
body, header, main{
	font-family: "Times New Roman", Times, serif;
}
header{
	text-align: center;
}

main{
	margin: 5%;
	border-radius: 10%;
	text-align: center;
}

section{
	border-style: double;
	border-radius: 25px;
	width: 30%;
	margin: 1%;
	display: inline-grid;
	vertical-align: middle;
}

footer{
}
#Nametag{
	border-radius: 50%;
	display: flex;
	margin: 3%;

}
#Pagetabs{
	display: inline-flex;
}
#currentpage{
	background-color: #CCCFBC;
}


body{
	background-color: #507642;
}
header, main, footer{
	background-color: #86942A;
}
#Nametag, #Pagetabs, section{
	background-color: #A37B45;
}
/* #507642
 #86942A
 #A37B45
 #CCCFBC
 #F3F4EC
 */
