h1{
	font-size: 70px;
}
h2{
	font-size: 32px;
}
p{
	line-height: 150%;
}
ul{
	list-style-type: circle;
	text-align: left;
}
body, header, main{
	font-family: "Times New Roman", Times, serif;
}

body{
	background-color: Skyblue;
}

header{
	background-color: Slateblue;
	text-align: center;
}

main{
	background-color: Slateblue;
	text-align: center;
}

section{
	background-color: snow;
	border-style: double;
	border-radius: 25px;
	width: 30%;
	margin: 1%;
	display: inline-grid;
	vertical-align: middle;
}

footer{
	color: Slateblue;
}
#Nametag{
	background: blue;
	border-radius: 15%;
}
#Pagetabs{
	background-color: yellow;
}
